<!doctype>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/myStyle.css">
	<title>Ajay data</title>
</head>
<body>
	
	<div id="date">
		<div id="head" class="head">
			<h1>Directory</h1>
			<input type="text" id="name" class="textbox head-element" placeholder="Name"> 
			<input typt="text" id="age" class="textbox head-element" placeholder="Age"> 
			<input type="button" id="save" value="SAVE" class="button head-element">
			<input typt="text" id="search" class="textbox head-element" placeholder="Search">
		</div>
	<ul id="list">
		
	</ul>
	<script type="text/template" id="template-private">
		<li class="entries">
			<%= Name %>
			<%= Age %>
		</li>
	</script>
	</div>
	<script type="text/javascript" src="js/lib/jquery.js"></script>
	<script type="text/javascript" src="js/lib/underscore.js"></script>
	<script type="text/javascript" src="js/lib/backbone.js"></script>
	<script type="text/javascript" src="js/app/router/router.js"></script>
	<script type="text/javascript" src="js/app/model/model.js"></script>
	<script type="text/javascript" src="js/app/collection/collection.js"></script>
	<script type="text/javascript" src="js/app/view/view.js"></script>
	<script type="text/javascript" src="js/app/app.js"></script>
	
</body>
</html>